body {
  margin: 0px;
  background-color: #f1f4f5;
}

#container {
  padding-top: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-70 {
  margin-top: 70px;
}

.back-button {
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  header {
    text-align: center;
  }
}
